@charset "utf-8";
/* CSS Document */

body 
{
	background-image:url(../../imagenes/gradiente_fondo.jpg);
	background-color:#ffffff;
	background-attachment:fixed;
	background-position:top;
	background-repeat:repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	line-height:14pt;
}

a img 
{
	border:none; 
}

.centrado 
{
	text-align: center;
}

div.marco_principal
{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	max-width:1190px;
	min-width:900px;
}

div.firma_ucr
{
	display:table-cell;	
	width: 170px;
}

div.firma_ucr a
{
	margin-left:12px;
	display:block;
	/*width:170px;
	height:63px;*/
	width:502px;
	height:73px;
	background:url(../../imagenes/grande/firma_ucr.png);
}

div.firma_ucr span
{
	display:none;
}

div.adorno_sitio div
{
	top: -19px;
}

div.fondo_encabezado
{
	top: -13px;
}

div.encabezado
{	
	height: 80px;
}

div.adorno_sitio
{
	position:relative;
	width:100%;	
	display:block;
	margin:0px;
	padding:0px;
}

div.adorno_sitio div
{
	display:block;
	position:absolute;
	width:294px;
	height:101px;
	background-color:#43ADE7;
	background:url(../../imagenes/granos_cintillo.png);
	margin-top:-105px;
	right:13px;
	z-index:5;
}

div.adorno_sitio span
{
	display:none;
}

div.fondo_encabezado
{
	background-color: transparent;
	margin-left:14px;
	margin-right:14px;
	position:relative;
	z-index:4;
	height:111px;
}

div.encabezado
{	
	display:table;
	position:relative;
	top:-120px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	font-family:verdana;
	color:#bababa;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:0px;
	margin-bottom:0px;
	z-index:10;
}

div.nombre_sitio
{
	position:relative;
	font-family:arial,verdana;
	font-weight:bold;
	color:#666666;
	font-size:18px;
	margin:0px;
	top:0px;
	width:190px;
	height:58px;
	background:#cfd5d9 url(../../imagenes/grande/top_menu_iz.jpg) top left;
	background-repeat:no-repeat;	
	padding-bottom:15px;
}

div.nombre_sitio span
{
	position:absolute;	
	margin-top:20px;
	width:100%;
	text-align:center;
}

div.barra_titulo
{
	display:table-cell;
	position:relative;
}

.barra_titulo .firma_ucr
{
	position:relative;
}

.barra_titulo .logo_sitio
{
	position:absolute;
	top:5px;
	left:190px;
	width:200px;
	border-left:1px white solid;
	color:white;
	font-family:arial;
	font-weight:bold;
	padding-left:10px;
}

div.sub_encabezado1
{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	margin-left:10px;
	margin-right:10px;
	padding-right:10px;
	padding-left:20px;
}

div.sub_encabezado1 > ul
{
	margin-top: -49px;
}

div.sub_encabezado1 ul
{
	padding:0px;
	padding-top:37px;
	margin-right:-3%;
	position:relative;	
	text-align:right;	
	float:right;
	display:block;	
}

div.sub_encabezado1 ul li
{
	display:inline-block;
	list-style-type:disc;
	margin-left:5px;
	position:relative;
	background:url(../../imagenes/separador_menu_top.gif) right no-repeat;
	padding-right:5px;	
}

div.sub_encabezado1 > ul > li:last-child, div.sub_encabezado1 > ul > li:last-child:hover
{
	background:none;
}

div.sub_encabezado1 ul li a
{
	position:relative;
	text-decoration: none;
	color:#ffffff;
	font-size:11px;
	font-family:Arial,Verdana;
	font-weight:bold;
	float:left;
	text-align:left;
	white-space: nowrap;
}

div.sub_encabezado1 ul + li
{
	background:none;
}

div.sub_encabezado1 ul li a:hover
{
	text-decoration: underline;
}

div.sub_encabezado1 ul span
{
	white-space: nowrap;
}

div.sub_encabezado2
{
	display:table-cell;
	vertical-align:top;
	width:275px;
}

div.sub_encabezado2 div
{
	margin-top:-29px;
}

div.sub_encabezado2 div.rawimages
{
	top:72px;
	position:relative;
	margin-right:5px;
}

div.sub_encabezado2 div.search
{
	margin-top:0px;
	margin-right:-15px;
	height:24px;
	width:172px;
	z-index:3;
	display:block;
	position:relative;
	top:18px;
}

div.sub_encabezado2 div.search label
{
	display:none;
}

div.sub_encabezado2 div.search input.button
{
	vertical-align:top;
	margin-left:-2px;
	margin-top:0px;
	background:url(../../imagenes/grande/searchButton.gif) no-repeat;
	width:36px;
	height:24px;
	color:transparent;
    text-transform: capitalize;
	text-indent:-9999px;
	border:none;
}

#mod-search-searchword
{
	width:110px;
}

div.search label
{
	display:none;
}

div.search input.button
{
	width:25px;
}

div.sub_encabezado2 div.mod-languages
{
	margin:25px 5px 0 5px;
	text-align:right;
}

div.fuera_pestana
{
	display:table-cell;
}

div.pestana
{
	text-align:center;
	position:relative;
	display:table-cell;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}

div.pestana div
{
	width:41px;
	position:absolute;
	display:block;
	z-index:5;
	padding-top:0px;
	margin-top:-70px;	
	margin-left:-7px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;	
}

div.pestana li a
{
	height:28px;
	width:21px;
	display:block;
	background:url(../../imagenes/separador_peq.gif) bottom no-repeat;
}

div.pestana li.ultimo a, div.pestana li:last-child a
{
	background:none;
}

div.pestana ul
{
	position:absolute;
	top:0px;
	margin-top:13px;
	height:83px;
	list-style-type:none;
	margin-left:-40px;
	z-index:10;
}

div.pestana ul li
{
	padding:1px;
}

div.pestana ul li span 
{
	display: none;
}

div.pestana ul li img 
{
	width:20px;
	height:20px;
	position:absolute;
	-webkit-transition: all 0.3s;
	-webkit-transform-origin: 1em 1em;
	-moz-transition: all 0.4s;
	-moz-transform-origin: 1em 1em;
	-o-transition: all 0.3s;
	-o-transform-origin: 1em 1em;
	background:none;
}

div.pestana div ul li:hover img {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	margin: 0 0em;
	background:url(../../imagenes/fondo_icono.gif);
	-moz-box-shadow: 2px 2px 7px #666;
	-webkit-box-shadow: 2px 2px 7px #666;
	box-shadow: 2px 2px 7px #666;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;	
}
	
div.pestana ul li:hover + li img,
div.pestana ul li.prev img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	margin: 0 0em;
}	

div.pestana div div.pest_top
{
	background:url(../../imagenes/pestana_top.png);
	display:block;
	height:56px;
	width:41px;
	position:relative;
}

div.pestana div div.pest_middle
{
	background:url(../../imagenes/pestana_middle.png) repeat-y;
	width:41px;
	position:relative;
	display:block;
}

div.pestana div div.pest_middle img
{
	padding:1px;
}


div.pestana div div.pest_bottom
{
	background:url(../../imagenes/pestana_bottom.png) no-repeat;
	display:block;
	height:51px;
	width:41px;
	position:relative;
}

div.bannergroup
{
	margin-bottom:12px;
	text-align:center;
}

div.ruta
{
	min-height: 20px;
	font-family:arial,verdana;
	color:#999999;
	position:relative;
	margin-bottom:20px;
	text-transform:lowercase
}

div.ruta span
{
	float:left;
	margin-bottom:10px;
}

div.ruta span a
{
	color:#3366cc;
	text-decoration:none;
	margin-right:5px;	
}

div.ruta span a:hover
{	
	color:#3366cc;
	text-decoration:underline;
}

div.ruta span a:visited
{
	color:#3366cc;
}

div.ruta img
{
	margin-right:5px;
}

div.buscar
{
	float:right;
}

div.contenidos
{
	margin-top:-10px;
	width:100%;
}

div.contenidos_logo, div.banner_principal
{
	margin-top:-20px;
}

div.banner_principal
{
	margin-bottom:-13px;
}

div.columna_izquierda
{	
	padding-left:10px;
	display:table-cell;
	width:150px;
	vertical-align: top;
	padding-top:23px;
}

div.columna_izquierda.con_banner
{	
	padding-top:6px;
}

div.columna_principal
{
	padding-top:40px;
	display: table-cell;
	width:100%;
	margin-left:10px;
	margin-right:10px;
	padding-left:20px;
	padding-right:20px;
	vertical-align:top;
}

div.columna_principal.con_logo
{
	padding-top:8px;
}

div.divisor
{
	height: 0px;
}

div.columna_principal a
{
	font-family:Arial,Verdana;
	color:#3366cc;
	text-decoration:none;
}

div.columna_principal a:hover
{
	text-decoration:underline;
}

div.columna_principal a:visited
{
	font-weight:normal;
}

div.columna_principal .contentheading, div.columna_principal h1, div.columna_principal h1 a, div.columna_principal .contentheading a
{
	font-family:Arial,Verdana;
	font-size:22px;
	font-weight:bold;
	color:#3366cc;
	text-decoration:none;
	margin-bottom:10px;
}

div.columna_principal .contentheading a:hover, div.columna_principal h1 a:hover
{
	text-decoration:underline;
}

div.columna_principal h2, div.columna_principal h2 a
{
	font-family:Arial,Verdana;
	font-size:18px;
	font-weight:bold;
	color:#3366cc;
	text-decoration:none;
}

div.columna_principal h2 a:hover
{
	text-decoration:underline;
}

div.columna_principal h3, div.columna_principal h3 a
{
	font-family:Arial,Verdana;
	font-size:15px;
	font-weight:bold;
	color:#3366cc;
	text-decoration:none;
}

div.columna_principal h3 a:hover
{
	text-decoration:underline;
}

div.con_logo
{
	padding-top:10px;
	padding-left:10px;
}

div.celda
{
	display:table-cell;
}

div.table
{
	display:table;
}

ul.menu
{
	list-style-type:none;
}

/**********************************************************************/

div.columna_derecha
{
	display:table-cell;
	width:190px;
	min-width:190px;
	padding-top:40px;
	padding-right:20px;
}

div.columna_derecha a
{
	color:#3366cc;
	text-decoration:none;
}

div.columna_derecha a:hover
{
	text-decoration:underline;
}

div.columna_derecha ul
{
	width:170px;
	list-style-image: url(../../imagenes/path.png);
	padding-left:30px;	
}

div.columna_derecha li
{
	padding-bottom:5px;
	padding-top:5px;
	margin-left:-10px;
	background:url(../../imagenes/divisor_menu_peq2.gif) bottom no-repeat;
}

div.columna_derecha li a
{
	color:#666666;
	text-decoration:none;
	display:block;
}

div.columna_derecha ul li#current
{
	font-weight:bold;
}

div.columna_derecha ul li a:hover
{	
	text-decoration:underline;
	color:#3366cc;
}

div.columna_derecha ul ul
{
	margin-left:-18px;
	list-style-image:none;
}

div.columna_derecha ul ul li
{
	background:none;
}

div.columna_derecha h1, div.columna_derecha h2, div.columna_derecha h3
{
	color:#666666;
}

div.columna_derecha h3
{
	font-family:Arial, Verdana;
	font-size:15px;
	font-weight:bold;
	color:#484848;
}

div.columna_derecha li:last-child
{
	background:none;
}

/**********************************************************************/

div.columna_izquierda h3
{
	margin-left:10px;
	margin-top:13px;
	margin-bottom:5px;
	color:#666666;
}

div.columna_izquierda  div.module_menu, div.columna_izquierda  div.module, div.columna_izquierda  div.arriba div.module_menu, div.columna_izquierda  div.arriba div.module
{	
	width:190px;
	background:#cfd5d9;
	padding:0px;
	margin:0px;
	margin-top:-15px;
}

div.columna_izquierda  div.module_menu div, div.columna_izquierda  div.module div
{
	margin-bottom:-13px;
}

div.columna_izquierda div.moduleseparador
{
	height:58px;
	width:190px;
	display:block;
	background:#ffffff url(../../imagenes/grande/bottom_menu_iz.png) bottom no-repeat;
	margin-bottom:30px;
}

div.columna_izquierda div.moduleseparador *
{
	display:none;
}

div.columna_izquierda div.search
{
	width:190px;
	top:0px;
	text-align:center;
	padding-top:10px;
	padding-bottom:15px;
	margin-left:5px;
}

div.columna_izquierda div.search input.button
{
	background:url(../../imagenes/grande/lupa.gif) no-repeat;
	border:none;
	margin-left:4px;
}

div.columna_izquierda div.search input.button:hover
{
	cursor:pointer;
	cursor:hand;
}

div.columna_izquierda ul.menu
{	
	background-color:#cfd5d9;
	padding-bottom:15px;
}

div.columna_izquierda ul.menu li
{
	list-style-image: url(../../imagenes/path.png);
	margin-left:-10px;
	padding-bottom:5px;
	padding-top:5px;
	background:#cfd5d9 url(../../imagenes/divisor_menu_peq.gif) top no-repeat;
	width:100%;	
}

div.columna_izquierda a, div.columna_izquierda ul.menu a, div.columna_izquierda ul.menu span
{
	font-size:12px;
	text-decoration:none;
	color:#666666;
}

div.columna_izquierda ul.menu span:hover
{
	cursor:hand;
	cursor:pointer;
}

div.columna_izquierda a:hover
{
	text-decoration:underline;
}

div.columna_izquierda ul.menu li a:hover
{	
	color:white;
}

div.columna_izquierda ul.menu li#current a
{	
	font-weight:bold;
	color:white;
}

div.columna_izquierda li img
{
	float:right;
	margin-right:10px;
}

div.columna_izquierda  div.module
{
	background:#cfd5d9;
}

div.columna_izquierda  div.module_menu ul ul, div.columna_izquierda  div.module ul ul
{
	margin-left:-30px;	
}

div.columna_izquierda  div.module_menu ul ul li, div.columna_izquierda  div.module ul ul li
{
	list-style-image:none;
	list-style-type:none;
}

div.columna_izquierda select
{
	font-family:arial,verdana;
	font-size:10px;
}

div.columna_izquierda input.buscar
{
	width:110px;
	font-family:arial,verdana;
	font-size:10px;
}

div.columna_izquierda .abajo div.module_menu, div.columna_izquierda .abajo div.module, div.columna_izquierda .abajo ul, div.columna_izquierda .abajo ul li
{
	background:white;
}

div.columna_izquierda .abajo a:hover, div.columna_izquierda .abajo ul.menu li a:hover
{
	color:#3366cc;
	text-decoration:underline;
}

div.pie
{
	background-color:white;
	margin-left:14px;
	margin-right:14px;
}

div.fondo_pie
{
	position:absolute;
	position:relative;	
	bottom:-15px;
}

div.fondo_pie img
{
	z-index:1;
	margin-bottom:-5px;		
}

div.pie div.modulos
{
	background:#e9ecee url(../../imagenes/horizonte_inferior_b.png) 0 100% repeat-x;
	z-index:5;
	min-height:28px;
	color:#747474;
	width:100%;	
}

div.pie a
{
	color:#747474;
}

div.pie a:hover
{	
	text-decoration:underline;
}

div.pie ul
{
	margin:0px;
}

div.pie li
{
	padding:3px;
	display: inline;
	list-style-type: none;	
}

div.pie li a
{
	font-size:12px;
	color:#747474;
	font-family:arial,verdana;
	text-decoration:none;
	border-right: 1px solid #747474;
	padding-right: 5px;
	padding-left: 1px;
}

div.pie div.modulos
{
	display:table;
	width:100%;
}

div.pie div.modulos div.izquierda
{
	width:100%;
	display:table-cell;
	padding-left:5px;
	padding-right:5px;		
}

div.pie div.modulos div.derecha ul
{
	white-space:nowrap;
	padding-left:10px;
}

div.pie div.modulos div.derecha
{
	display:table-cell;
	padding-left:5px;
	padding-right:5px;		
}

/**************  Fin Ejemplo menu  **********************/

/* -- form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }

div.columna_derecha .moduletable
{	
	width:190px;
}


div.columna_derecha fieldset
{
	width:150px;
}

.cita
{
	margin:0px;
	margin-top:20px;
	padding:0px;
	width:215px;
	color:#3366cc;
	font-size:18px;
	font-family:Times new roman;
	margin-bottom:30px;	
}

span.comillas
{
	font-size:60px;
	color:#3366cc;
	padding-top:15px;
	padding-right:10px;
	position:absolute;
}

.cita div
{	
	text-indent:1.7em;
}

.cita div span
{	
	text-indent:0px;
}

.cita p.datos_cita
{
	font-size:16px;
}

.moduletable_cita
{
	margin:0px;
	padding:0px;
	width:190px;
	color:#658cd9;
	font-size:18px;
	font-family:Times new roman;
}

.moduletable_cita table
{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}

.pdf-icon, .email-icon, .print-icon
{
	list-style:none;
}

.pdf-icon a
{
	background:url(../../imagenes/pdf.gif) center no-repeat;
	width:22px;
	height:22px;
	display:block;
}

.print-icon a
{
	background:url(../../imagenes/imprimir.gif) center no-repeat;
	width:22px;
	height:22px;
	display:block;
}

.email-icon a
{
	background:url(../../imagenes/mail.gif) center no-repeat;
	width:22px;
	height:22px;
	display:block;
}

.pdf-icon a
{
	display:none;
}

.print-icon a img
{
	display:none;
}

.email-icon a img
{
	display:none;
}

div.fondo_titulo
{
	position:relative;
	z-index:2;
	margin-top: -50px;
	background:url(../../imagenes/fondo_titulo.png);
	width:100%;
	height: 31px;	
}

div.fondo_titulo p
{
	padding-left: 10px;
	font-family: Arial;
	font-size: 16px;
	font-weight:bold;
	float:right;
	color:#FFFFFF;
	margin-top:6px;
}

div.fondo_titulo span
{
	font-family: Arial;
	font-size: 16px;
	font-weight:bold;
	color:#f36302;
}

div.fondo_titulo a
{
	text-decoration:none;
}

div.fondo_titulo a:hover
{
	text-decoration:underline;
}

.banner a
{
	text-decoration:none;
}

table.contentpaneopen
{
	width:100%;
}

div.jfdefaulttext
{
	display:none;
}

script
{
	display:none;
}

div.bajo_ruta
{
	width:100%;
	margin-bottom:20px;
	text-align:center;	
}

div.fanews_mainwrap
{
	border-width:2px;
	border-color:#dadada;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
	margin-left:auto;
	margin-right:auto;
	background-color: #cfd5d9;
	/*background:-moz-gradient(top, #cfd5d9, #acb5ba);*/
	background:-moz-linear-gradient(100% 100% 90deg, #acb5ba, #cfd5d9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#cfd5d9), to(#acb5ba));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cfd5d9, endColorstr=#acb5ba);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#cfd5d9, endColorstr=#acb5ba)";
}

hr
{
	background-color:#ffffff; 
	border:1px dotted #000000;
	border-style:none none dotted; 
}

div.columna_principal ul.pagenav, div.columna_principal div.pagination
{
	text-align:center;
}

div.columna_principal div.pagination
{
	margin-top:30px;
}

div.columna_principal div.pagination p.counter
{
	margin-bottom:-50px;
}

div.columna_principal ul.pagenav, div.columna_principal div.pagination ul
{
	margin-left:auto;
	margin-right:auto;
}

div.columna_principal ul.actions li
{
	float:right;
}

div.columna_principal ul.pagenav li, div.columna_principal div.pagination ul li
{
	display:inline;
}

div.columna_principal ul.actions li, div.columna_principal ul.pagenav li, div.columna_principal div.pagination ul li
{
	margin:2px;
}

div.bajo_ruta ul.menu
{
	display:block;
	width:100%;
	padding-left:0;
	background-image:none;
}

div.bajo_ruta ul.menu li
{
	display:inline;
	width:10%;
	margin-left:0;
	padding-left:0;
}

div.bajo_ruta ul.menu li a
{	
	margin-right:3%;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	color:#b1aa50;
	height:17px;
	width:90px;
	margin-left:3%;
}

div.bajo_ruta ul.menu li a span
{
	padding-left:12px;
}

div.search label
{
	display:none;
}

div.search input.button
{
	width:25px;
}

div.columna_principal ul.actions li
{
	border:none;
	background:none;
}

div.columna_principal div.pagination ul
{
	background:none;
}

div.columna_principal div.pagination ul li
{
	background:none;
	border:none;
}

div.separador-float
{
	clear:both;
}

/* blog */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

.item { 
display: block;
}

/* fin blog */